health:
{{- range first 2 (.Kind "condition")}}
- {{index .Fields "statement"}}
{{- end}}
{{- range first 3 (.Kind "routine")}}
- routine: {{index .Fields "statement"}}
{{- end}}
{{- range first 3 (.Kind "metric")}}
- {{index .Fields "statement"}}: {{index .Fields "value"}} ({{index .Fields "measured"}})
{{- end}}
